<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoAPP.Properties.Settings.MySQLConnect" connectionString="server=127.0.0.1;user id=root;database=spidb;Charset=utf8 " />
        <add name="AutoAPP.Properties.Settings.MESTestConnectionString"
            connectionString="Data Source=192.168.1.123;Database =MESTest;Initial Catalog=MESTest;User ID=sa;Password=sqlserver2008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <AutoAPP.Properties.Settings>
            <setting name="SQLTimeOut" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="EXFOStartTime" serializeAs="String">
                <value>12:10</value>
            </setting>
            <setting name="EXFOTableName" serializeAs="String">
                <value>SPCData</value>
            </setting>
            <setting name="TimeTerval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CSVStartTime" serializeAs="String">
                <value>16:10</value>
            </setting>
            <setting name="blnAutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAPP_WebReference_IWebServiceservice" serializeAs="String">
                <value>http://192.168.160.20:8800/soap/IWebService</value>
            </setting>
        </AutoAPP.Properties.Settings>
    </applicationSettings> 
    <userSettings>
        <AutoAPP.Properties.Settings>
            <setting name="JUFEIStartTime" serializeAs="String">
                <value>12：20</value>
            </setting>
        </AutoAPP.Properties.Settings>
    </userSettings>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLibrary" />
                <binding name="BarCodeProAPISoap" />
            </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="http://10.114.128.56:7120/ELinkService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceLibrary" contract="ServiceReference1.IServiceLibrary"
                name="BasicHttpBinding_IServiceLibrary" />
            <endpoint address="http://10.10.10.91/U9EquipAPI/BarCodeProAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="BarCodeProAPISoap"
                contract="U9SV.BarCodeProAPISoap" name="BarCodeProAPISoap" />
        </client>
       
    </system.serviceModel>
  
</configuration>
